@import "compass";
//We don't want to have the overhead of bundler and co. so we import 
//breakpoint, singularity, toolkit etc. manually, using globbing here.
//ext_sass_libs contains external sass libraries 
//(copied over from /var/lib/gems/2.3.0/gems)
@import "../../../ext_sass_libs/**/*";


// Import variables, abstractions, base styles and components.
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

.responsive-table {
    display: table;
    border-collapse: separate;
    width: 100%;
    border-spacing: 0.5em 0.25em;
}
.row {
    display: table-row;
}
.col {
    display: table-cell;
    background-color: $content-background;
    border: 2px solid;
    border-color: $frame-border;
    padding: 0.5em;
}
.right-sidebar .left-sidebar{
}
.content {
    width:50%;
}

@media all and (max-width: 840px) {
    .left-sidebar {
    }
    .responsive-table {
        display: block;
        border-spacing: 0em;
    }
    .row {
        display: block;
    }
    .col {
        display: block;
        width: 100%;
        margin: 0.5em 0em;
    }
    .content {
        width:100%;
    }
}

.upper-content{
    background: $content-background;
    min-height: 10em;
    border: 2px;
    border-style: solid;
    border-color: $frame-border;
    padding: 0.5em;
}
