@import "compass";
//We don't want to have the overhead of bundler and co. so we import 
//breakpoint, singularity, toolkit etc. manually, using globbing here.
//ext_sass_libs contains external sass libraries 
//(copied over from /var/lib/gems/2.3.0/gems)
@import "../../../ext_sass_libs/**/*";


// Import variables, abstractions, base styles and components.
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

.responsive-table {
    display: table;
    border-collapse: separate;
    width: 100%;
}
.row {
    display: table-row;
}
.col {
    display: table-cell;
    background-color: #fff;
}
.col.right-sidebar .col.left-sidebar{
    width: 30%;
}
.col.content {
    padding: 0 1em;
}

@media all and (max-width: 840px) { 
    .left-sidebar {
        padding: 1em;
        margin-bottom: 1em;
    }
    .table {
        display: block;
    }
    .row {
        display: block;
    }
    .col {
        display: block;
    }
    .col.content {
        margin-bottom: 1em;
    }
    .table {
        width: 100%;
    }
}