@import "compass";
//We don't want to have the overhead of bundler and co. so we import 
//breakpoint, singularity, toolkit etc. manually, using globbing here.
//ext_sass_libs contains external sass libraries 
//(copied over from /var/lib/gems/2.3.0/gems)
@import "../../../ext_sass_libs/**/*";


// Import variables, abstractions, base styles and components.
@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

$three-col: 900px;

.responsive-grid {

@include add-grid(1 1);
@include add-grid(3 6 3 at $three-col);
@include add-gutter(1/8);
@include add-gutter(1/4 at $three-col);

  .left {
    @include breakpoint($three-col) {
      @include grid-span(1,1);
      min-height: 400px;
    }
    background: $content-background;
    color: #ffffff;
    border: 2px;
    border-style: solid;
    border-color: $frame-border;
    margin-top: 0.3em;
  }

  .center {
    @include breakpoint($three-col) {
      @include grid-span(1,2);
      min-height: 400px;
    }
    background: $content-background;
    color: #ffffff;
    border: 2px;
    border-style: solid;
    border-color: $frame-border;
    margin-top: 0.3em;
  }

  .right {
    @include breakpoint($three-col) {
      @include grid-span(1,3);
      min-height: 400px;
    }
    background: $content-background;
    color: #ffffff;
    border: 2px;
    border-style: solid;
    border-color: $frame-border;
    margin-top: 0.3em;
  }
}