table {
    border-spacing: 2px;
    border-collapse: separate;
    background: $table-background;
}

table td, table th
{
    padding: 0.2em;
}

tr.odd {
    background-color: $table-background;
}

tr.even, tr.odd {
    background-color: $table-odd-background;
}
